body
{
  color: white ;
  margin: 0px;
  font-family: 'segoe ui';
  background:url('https://media.istockphoto.com/vectors/new-age-rock-band-music-vector-id594920678?k=6&m=594920678&s=612x612&w=0&h=2IRLHn75T7Q8DJjgWG47tptt1SvzKgc1ml4Vqhtnvp0=') no-repeat center center fixed ;
  background-size: cover;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  margin-top: 10px;
  margin-right: 5px;;

float: right;  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #000000;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(238, 234, 234, 0.205);
	background-color: #1d1c1c;
	border-radius: 10px;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #1d1c1c;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,40% 0%,75% 84%,from(#4D9C41),to(#19911D),color-stop(.6,#54DE5D))
}
.nav 
{
  height: 70px;
  width: 100%;
  background-color:green;
  margin-top:0px;
  position:sticky;
}
.sticky
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.nav-img
{
  height: 50px;
  width: 80px;
  margin-top: 0px;
  display: inline-block;
  margin-left: 20px;
}
.nav  .nav-header 
{
  display: inline;
}
  .nav  .nav-header  .nav-title 
{
  display: inline-block;
  font-size: 25px;
  color:rgb(17, 17, 17);
  padding: 18px 10px 10px 10px;
  font-weight:bold;
}
  .nav > .nav-btn
{
  display: none;
}
  .nav > .nav-links
{
  display: inline;
  float: right;
  font-size: 18px;
  padding-right: 30px;
}
  .nav > .nav-links > a
{
  display: inline-block;
  margin-top: 7px;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
  .nav > .nav-links > a:hover 
{
  font-size: 20px;
  border-bottom: solid 2px white;
  background-color:lightslategrey;
}
 .current
{
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 20px;
  margin:5px;
  font-weight: bold;
  border: solid 2px black;
}
 .current:hover
{
  border: solid 2px black !important;
  font-size: 18px !important;
}
  @media (max-width:600px) 
{
  .nav > .nav-btn
  {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
    .nav > .nav-btn > label
  {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label
  {
    background-color:  grey;
  }
    .nav > .nav-btn > label > span 
  {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
    .nav > .nav-links 
  {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
    .nav  .nav-links  a 
  {
    display: block;
    width: 100%;
  }
    .nav > #nav-check:not(:checked) ~ .nav-links
  {
    height: 0px;
  }
    .nav > #nav-check:checked ~ .nav-links
  {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
  hr
{
  border-width: 0px 0px 0px 0px;
  height: 6px;
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.85), rgba(0, 128, 0, 0.1)) ;
}
.main
{
  padding:24px;
  margin-top: 40px;
  /* border:6px  solid green; */
  border-radius: 17px;
  padding:24px;
  height: auto;
  text-align: center;
    /* box-shadow: 5px 5px 3px green; */
}
.container
{
  display:flex;
  padding:24px;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}
.content
{
  height:auto;
  width:350px;
  transition: 0.3s;
  border-radius: 17px;
  background: rgba( 0, 128, 0, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  margin-bottom: 20px;
}
.heading
{
  margin:auto;
  font-size: 35px;
  font-family: 'Chango', cursive;
}
.content:hover
{
  border:3px solid rgb(0, 128, 0);
  box-shadow: 3px 3px 10px 0 rgb(170, 230, 175);
  transform: scale(1.03);
}
.btn{
font-weight: bold;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
border-radius:23px;
}
/*Social Media*/
.centerdiv {
  font-size: larger;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerdiv a
{
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid #19911D;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  float: left;
  transition: all 0.5s ease;
}
.centerdiv a i{
  margin-top:5px;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.centerdiv a:hover i{
  transition: all 0.5s ease;
  transform: scale(1.2);
}
.fa-instagram{
  color: rgb(238, 0, 0);
    transition: 0.4s;
}
a:hover .fa-instagram{
  color:rgb(238, 27, 27);
  text-shadow:0 0 15px #EE570F;
 
}
.fa-facebook-f{
  color: rgb(44, 62, 224);
  transition: 0.4s;
}
a:hover .fa-facebook-f{
color: #5276c4;
text-shadow: 0 0 15px #3b5998;
}
.fa-twitter{
  color: rgb(35, 137, 255);
  transition: 0.4s;
}
a:hover .fa-twitter{
  color: #00bbff;
  text-shadow: 0 0 15px #00aced;
}
#box-1
{
  background-image: linear-gradient(to right,#20AAE5 ,#A722D6);
}
#box-2
{
  background-image: linear-gradient(180deg,#0fa5e6 ,#7b06f0);
}
#box-3
{
  background-image: linear-gradient(90deg, #1A0223,#DB26B6, #EE570F);
}
#box-4
{
  background-image: linear-gradient(to right,#06425c ,#410955);
}
#box-5
{
  background-image: linear-gradient(180deg, #1A0223,#DB26B6, #EE570F);
}
#box-6
{
  background-image: linear-gradient(to right,#e4bc0d ,#ec430f);
}
#box-7
{
  background-image: linear-gradient(to right,#20AAE5 ,#A722D6);
}
.btn:hover 
{
  background-color: red;
  color: black;
}
.btn:active {
  transition-duration: 0s;
  box-shadow: inset 5px 5px 5px rgb(68, 67, 67, 0.8),
    inset -5px -5px 5px rgb(230, 227, 227, 0.6);
  font-size: 15px;
}
footer
{
  background-color:green;
  text-align: center;
}
.content span 
{
  font-size: 6rem;
}
  @media (max-width:470px) 
{
  .content 
  {
    font-size: .8rem;
    overflow: auto;
  }
  .content span 
  {
    font-size: 3rem;
  }
  .btn 
  {
    font-size: 15px;
    padding: 8px 16px;
  }
}
footer > h2,p
{
  margin: 7px;
}
footer h5
{
  margin-bottom: 0;
  padding-bottom: 10px;
}
/* Below styling is for go to the top button */
html
{
  scroll-behavior: smooth;
}
#myBtn
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#myBtn .fas
{
  position: relative;
}
 #myBtn:hover 
{
  background-color: rgb(39, 37, 37);
  transition: 0.5s;
}
#myBtn:hover .fas
{
  transition: 0.5s;
  bottom:5px; 
}
/*For icon shaking*/
@keyframes shakeit 
{
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg);}
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.girl 
{
 animation-name: shakeit;
 -webkit-animation-name: shakeit;
 animation-duration: 1.2s;
 -webkit-animation-duration: 1.2s;
 transform-origin:50% 50%;
 -webkit-transform-origin:50% 50%;
 animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
 animation-timing-function: linear;
-webkit-animation-timing-function: linear;
}
/* CSS for Pre-loader */
#preloader{
  width: 100%;
  height: 100vh;
  background-color: #1B4203;
  display: grid;
  align-items: center;
  place-items: center;
  position: fixed;
  z-index: 9999;
}
.preloader-div{
  width: 30rem;
  height: 30rem;
  position: relative;
}
.rotator{
  width: 30rem;
  height:30rem;
  border-radius: 50%;
  animation: rotator 1s linear infinite;
  border-right:3px solid #fff;
}
.preloader-img{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  width:400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}
@keyframes rotator{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
