
  body {
    color: white ;
    margin: 0px;
    font-family: 'segoe ui';
    background:url('https://cdn.pixabay.com/photo/2016/09/27/23/03/guitar-1699501_960_720.jpg') no-repeat center center fixed ;
    background-size: cover;
  }

  .nav {
    height: 70px;
    width: 100%;
    background-color:green;
    margin-top:0px;
    position:sticky;
  }
  .sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.nav-img{
  height: 50px;
  width: 80px;
  margin-top: 0px;
  display: inline-block;
  margin-left: 20px;
}
  .nav  .nav-header {
    display: inline;
  }

  .nav  .nav-header  .nav-title {
    display: inline-block;
    font-size: 25px;
    color:rgb(17, 17, 17);
    padding: 18px 10px 10px 10px;
    font-weight:bold;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 30px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    margin-top: 7px;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: white;
  }

  .nav > .nav-links > a:hover {
    font-size: 20px;
    transition: 00.5s;
    border-bottom: solid 2px white;
  }
 .current{
   background-color: rgba(0, 0, 0, 0.247);
   border-radius: 20px;
   font-weight: bold;
   border: solid 2px black;
 }
 .current:hover{
    border: solid 2px black !important;
    font-size: 18px !important;
 }

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color:  grey;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav  .nav-links  a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  hr{
    border-width: 0px 0px 0px 0px;
    height: 6px;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.1), rgba(0, 128, 0, 0.85), rgba(0, 128, 0, 0.1)) ;
}

.main{
    padding:24px;
    margin-top: 40px;
    /* border:6px  solid green; */
    border-radius: 17px;
      padding:24px;
      height: auto;
      text-align: center;
      /* box-shadow: 5px 5px 3px green; */
}
  .container{
      display:flex;
      padding:24px;
      justify-content:space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
     margin-top: 30px;
  }
  .content{
      height:auto;
      width:25vw;
      transition:all 0.5s;
      border-radius: 17px;
      background: rgba( 0, 128, 0, 0.40 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 11.0px );
      -webkit-backdrop-filter: blur( 11.0px );
  }
  .heading{
      margin:auto;
      font-size: 35px;

      font-family: 'Chango', cursive;
  }
  .content:hover{
      border:5px solid rgb(0, 128, 0);
      box-shadow: 5px 5px 10px 0 rgb(170, 230, 175);
      transform:scale(1.13);
  }
  .btn{
    font-weight: bold;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:23px;
  }
  .centerdiv {
    font-size: larger;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerdiv a{
    height: 50px;
    width: 50px;
    background-color: rgb(240, 222, 222);
    border-radius: 50px;
    text-align: center;
    line-height: 65px;
    margin: 10px;
    box-shadow: 1px 3px 2px 2px rgb(85, 86, 88);
  }
  .centerdiv a i{
    transition: all 0.3s linear;
  }
  .centerdiv a:hover i{
    transform: scale(1.2);
  }
  .fa-instagram{
    color: #e84393;
  }
  .fa-facebook-f{
    color: #474ae0;
  }
  .fa-twitter{
    color: #3c92e2;
  }


#box-1{
    background-image: linear-gradient(to right,#20AAE5 ,#A722D6);
}
#box-2{
    background-image: linear-gradient(180deg,#0fa5e6 ,#7b06f0);
}
#box-3{
     background-image: linear-gradient(90deg, #1A0223,#DB26B6, #EE570F);
}
#box-4{
    background-image: linear-gradient(to right,#06425c ,#410955);
}
#box-5{
    background-image: linear-gradient(180deg, #1A0223,#DB26B6, #EE570F);
}
#box-6{
     background-image: linear-gradient(to right,#e4bc0d ,#ec430f);
}

.btn:hover {
   background-color: red;
    color: black;
  }
  footer{
      background-color:green;
      text-align: center;

  }

  .content span {
    font-size: 6rem;
  }

  @media (max-width:470px) {
    .content {
      font-size: .8rem;
      overflow: auto;
    }
    .content span {
      font-size: 3rem;
    }

    .btn {
      font-size: 15px;
      padding: 8px 16px;
    }
  }
  footer > h2,p{
    margin: 7px;
  }
  footer h5{
    margin-bottom: 0;
    padding-bottom: 10px;
  }
