body {
  color:white;
  margin: 0px;
  font-family: 'segoe ui';
  background:url('image.jpg') no-repeat center center fixed ;
  background-size: cover;
}


/* <nav bar> */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
nav{
    background-color: #a55c1b;
    background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%); 
    /* background-color: #f6f0c4;
background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%); */
}


.nav-link{
  margin-right: 15px;
  color:#a6c7f1;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.navbar-brand{
  color: #4C4B4B;
  letter-spacing: 0.5px;
}


.main{
  padding:24px;
  margin-top: 40px;
  border:6px  solid#a55c1b;
  border-radius: 17px;
    height: auto;
    text-align: center;
    box-shadow: 5px 5px 3px #a55c1b;
}


.card{
    display:flex;
    padding:24px;
    justify-content:space-between;
    flex-direction: row;
   margin-top: 100px;
   background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  
} 
 .card:hover{
    transform:scale(1.13);
}

/* .content{
    height:auto;
    width:25vw;
    border:5px solid rgb(0,100,0);
    transition:all 0.5s;
    border-radius: 17px;
 

} 
 */
.heading{
    margin:auto;
    font-size: 35px;
   
    font-family: 'Chango', cursive;
}

.button{
  font-weight: bold;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius:23px;
}
.button:hover {
  background-color: #3e8e41;
}  

#box-1{
  background-color: blanchedalmond;
}
#box-2{

background-color: blanchedalmond;
}
#box-3{
 
background-color: blanchedalmond;
}
#box-4{
  
background-color: blanchedalmond;
}
#box-5{
  
background-color: blanchedalmond;
}
#box-6{
   
  background-color: blanchedalmond;
}


footer{
    height:30%;
    background-color:#e0d4ae;
    text-align: center;
    font-size: 40px;
    padding:10px 40px 10px 10px;
   width:100%;
}

.container-fluid{
  padding: 7% 15%;
}
.white-section {
  background-color: #DEB887;
}







