body{
    background:black;
    background: url("https://cdn.pixabay.com/photo/2016/09/27/23/03/guitar-1699501_960_720.jpg")
     no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}
  
.navbar-light .navbar-toggler {
    margin: 4px;
  }
  
  .navbar-brand {
    margin-right: 0px;
  }
  .navbar-toggler {
    padding: 6px !important;
    font-size: 1rem !important;
  }
  
  .navbar {
    background-color: green !important;
  }
  
  .nav-img {
    height: 50px;
    width: 70px;
    margin-top: 0px;
    display: inline-block;
  }
  
  #webTitle {
    display: inline-block;
    font-size: 25px;
    color: rgb(17, 17, 17);
    font-weight: bold;
  }
  
  .nav-link {
    color: white !important;
    font-size: 18px !important;
    padding: 13px 20px 13px 20px !important;
  }
  
  .current {
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    margin: 5px;
    font-weight: bold;
    border: solid 2px black;
  }
  .current:hover {
    transition: 0.3s !important;
    font-size: 20px !important;
    background-color: lightslategrey !important;
    border: solid 2px black !important;
    font-size: 18px !important;
  }

  .button {
    color: green;
    background-color: #fff;
    border: none;
    padding: 6px 12px;
    margin: 8px 0;
  }
  
  .button:hover {
    background-color: rgb(4, 26, 10);
    color: #fff;
  }

.login{
    margin-left: 400px;
    margin-top: 100px;
    float: center;
    padding: 20px 20px 20px;
    width: 320px;
    background: white;
    border-radius: 3px; 
}
.login{
    font-size: 12px;
    cursor: pointer;
    color: #777;
} 
.login .create_account{
    text-align: center;
}  

.login h1{
    margin: -20px -20px 21px;
    line-height: 45px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: green;
    border-radius: 3px;
    
}
  
.login p{
    margin: 20px 0 0;
}
  
  .login p:first-child {
    margin-top: 0;
  }

.login input[type=text], .login input[type=password]{
    width: 278px;
}
.login p.remember_me{
    float: left;
    line-height: 31px;
}
  
.login p.remember_me label{
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
  
.login p.remember_me input{
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}
  
.login p.submit{
    text-align: right;
}
  
.login-help{
    margin: 20px 0;
    font-size: 13px;
    color: white;
    text-align: center;
}
  
.login-help a{
    color: #cce7fa;
    text-decoration: none;
}
  
.login-help a:hover{
    text-decoration: underline;
}
  
:-moz-placeholder{
    color: #c9c9c9 !important;
    font-size: 13px;
}
  
::-webkit-input-placeholder{
    color: #ccc;
    font-size: 13px;
}
  
input[type=text], input[type=password]{
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
}
  
input[type=text]:focus, input[type=password]:focus{
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}
  
input[type=submit]{
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #010800;
    background: green;
    border: 1px solid;
    border-color: green;
    border-radius: 16px;
}
  
input[type=submit]:active{
    background: green;
    border-color: green;

}
  
.lt-ie9 input[type=text], .lt-ie9 input[type=password]{
    line-height: 34px;
}


 footer {
    opacity: 0.9;
    background-color: green;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }