body
{
  background-image: url("images/2014-july-30-net-art-history-2.gif");
  background-size:auto;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238, 234, 234, 0.205);
  background-color: #1d1c1c;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #1d1c1c;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#fa7b90),
    to(#FD3656),
    color-stop(0.6, #f1889a)
  );
}

a
{
  background-color: rgb(16, 19, 16);
  color: rgb(245, 244, 253);
  padding: 1em 1em;
  text-decoration: none;
}  
a:hover 
{
  background-color:rgb(142, 145, 151);
}
  
a:active 
{
  background-color:rgb(142, 145, 151);
}
  
a:visited 
{
  background-color:rgb(16, 19, 16)k;
}
  

body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
