body{
    background-color:black;
    color:white;
    margin-top: 10px;
    padding-top: 50px;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    height:300px;
    width:400px;
    margin-top:50px;
}