body{
    background-color:rgb(107, 105, 109);
    background-image: url("images/background.jpg");
    background-size: cover;
  }
a {
    background-color: rgb(16, 19, 16);
    color: rgb(245, 244, 253);
    padding: 1em 1em;
    text-decoration: none;
    
    
  }
  
  a:hover {
    background-color:rgb(142, 145, 151);
  }
  
  a:active {
    background-color:rgb(142, 145, 151);
  }
  
  a:visited {
    background-color:rgb(16, 19, 16)k;
  }
  

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
