body
{
    background-color:rgb(107, 105, 109);
    background-image: url("images/background.jpg");
    background-size: cover;
    }
.grid
{
    display:flex;
    flex-wrap:wrap;
    height:300px;
    width:400px;
    margin-top:50px;
}
