*,html,body{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

h4 {
 	line-height: 1.3;
 	font-weight: 600;
}

p {
 	line-height: 1.3;
 	font-weight: 600;
	color: white;
	font-size: 0.7rem;
}

body{
    font-family: 'segoe ui';
    background:url('https://wallpapercave.com/wp/JvCoA3p.jpg') no-repeat center center fixed ;
    background-size: cover;
}

header{
    padding:5px;
	min-height: 60px;
    width: 100%;
    background-image:linear-gradient(to bottom,rgba(8, 101, 177),rgb(253,54,86));
	color:rgb(250, 218, 36);
    text-align:center;
    position:fixed;
	z-index:1;
}


.logo {
	width: 10%;
}


#wrapper{
	display: flex;
	padding: 10px 10px 5px;
	max-height:100vh;
}

#video {
    overflow: hidden;
    position: relative;
    width:55vw;
	min-width:500px;
	margin:10px;
	height:auto;
	border:4px solid rgb(253,54,86);
	box-shadow:5px 5px 10px 0 rgba(253,54,86,0.8);
}

#video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
	margin:10px 10px;
	display: flex;
	flex-direction:column;
	max-height:90vh;
	overflow-y:scroll;
	overflow-x:hidden;

}

article {
	max-width:550px;
	max-height:200px;
	padding:5px 10px;
	display: flex;
	align-items: center;
	color:rgb(255, 217, 0);
	border:5px solid rgb(15, 15, 15);
	cursor:pointer;
	transition:all 0.5s;
	border-radius: 15px;
	background-color: rgba(15,15,15,0.8);
	border-radius: 8px;
	margin:5px 20px;
}

article:hover {
	border:5px solid rgb(253,54,86);
	box-shadow: 5px 5px 10px 0 rgba(253,54,86,0.8);
	transform:scale(1.05);
}

.thumb {
	width: 50%;
	border-radius:5px;
	
}

.details {
	padding: 8px 22px;
}

::-webkit-scrollbar {
	width: 15px;
  }
  
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
	background-image : linear-gradient(to bottom,rgb(253,54,86),rgba(8, 101, 177));
	border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
	background-image : linear-gradient(to bottom,rgba(8, 101, 177),rgb(253,54,86));
}

@media(max-width:992px){
	header{
		font-size:80%;
		height:40px;
	}
    #wrapper{
		padding: 20px 10px 10px;
		flex-direction: column;
		align-items: center;
	}
	#video {
		width:90vw;
		height:100vh;
		min-width:100%;
		border:3px solid rgb(253,54,86);
	}
	main {
		flex-wrap: wrap;
		width:95vw;
		overflow-y:hidden;
		overflow-x:scroll;

	}
	article{
		width:350px;
	    height:400px;
	    padding:2px;
		margin:5px;
		flex-direction: column;
		overflow:hidden;
	}

     
}
