*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
}

body
{
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;


}

.app
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
}

.header h1{
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.25rem;
    font-weight: 900;
    color: grey;
}

.header p
{
    text-align: center;
    font-size: 19px;
    color: grey;
}

.header .backbutton{
    width: 50px;
    display: flex;
    justify-content: center;
}

#glow 
{
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ADFF2F, 0 0 20px #ADFF2F, 0 0 25px #ADFF2F, 0 0 30px #ADFF2F, 0 0 40px#ADFF2F;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #9ACD32, 0 0 40px #9ACD32, 0 0 50px #9ACD32, 0 0 60px #9ACD32, 0 0 70px #9ACD32, 0 0 80px #9ACD32;
    }
  }

img{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 180px;
    width: 250px;

}

.pads{
    width: 90vw;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.pads > div{
    height: 150px;
    width: 170px;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    border: solid green 5px;
    border-radius: 20px;
}

.pads > div img{
    width: 120px;
    height: 120px;
}

.pad-1
{
    background-image: linear-gradient(to right,#20AAE5 ,#A722D6);
}
.pad-2
{
    background-image: linear-gradient(180deg,#0fa5e6 ,#7b06f0);
}

.pad-3{
     background-image: linear-gradient(90deg, #1A0223,#DB26B6, #EE570F);
}

.pad-4{
    background-image: linear-gradient(to right,#06425c ,#410955);
}

.pad-5{
    background-image: linear-gradient(180deg, #1A0223,#DB26B6, #EE570F);
}
.pad-6{
    background-image: linear-gradient(to right,#e4bc0d ,#ec430f);
}


.pads > div:hover{
    cursor: pointer;
    box-shadow: 0 3px 12px white;
    border: 2px solid rgb(72, 241, 72);
    transform: scale(1.02);
}

.visual > div 
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;
} 

@keyframes jump
{
    0%{
        left: 20%;
        bottom: 0px;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        left: 80%;
        bottom: 0%;
    }
}


/* For Responsiveness */

@media (min-width: 1020px) and (max-width:1190px){
    .pads > div{
        margin: 0.5rem;
    }
    @keyframes jump
    {
        0%{
            left: 20%;
            bottom: 0px;
        }
        50%{
            bottom: 60%;
            left: 50%;
        }
        100%{
            left: 80%;
            bottom: 0%;
        }
    }
}

@media only screen and (max-width:600px){
    .header img{
        width: 200;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
      }
      .pads > div{
        width: 150px;
        height: 130px;
        margin: 0.8rem;
    }
    .pads > div img{
        width: 100px;
        height: 100px;        
    }

    .header .backbutton{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:330px)
{
    .header img
    {
        width: auto;
        height: 12rem;
        display: block;
        margin-left: auto;
        margin-right: auto; 
      }
      .pads > div
      {
        width: 6rem;
        height: auto;
        margin: 0.7rem;
    }
    .pads > div img
    {
        width: 6rem;
        height: auto;        
    }
    .header p
    {
        font-size: 1rem;
    }
}
