*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Space Grotesk', sans-serif;
    padding-top:50px;
    background-color: black;

}

.app
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
}

.header h1{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    font-weight: 900;
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.band-tagline{
    text-align: center;
    font-size: 25px;
    color: grey;
    margin-top:10px;
    font-family:cursive;
}

.main-img{
    margin:40px 0px;
}

.header .backbutton{
    width: 50px;
    display: flex;
    justify-content: center;
}



.keyboard-keys{
    font-size:3rem;
    position:relative;
    top:-25px;
    font-family:cursive;
    color:white;
    text-shadow:2px 2px 2px grey;
}
.pads{
    width: 90vw;
    display: flex;
    flex-wrap:wrap;
    box-sizing:border-box;
    justify-content: center;
}

.pads > div{
    height: 170px;
    width: 170px;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    /* border: solid green 5px; */
    border-radius: 20px;
}

.pads > div img{
    width: 120px;
    height: 120px;
    margin-bottom:15px;
    padding-top:15px;
}

.pad-1
{
    background-image: linear-gradient(to right,#20AAE5 ,#A722D6);
}
.pad-2
{
    background-image: linear-gradient(180deg,#0fa5e6 ,#7b06f0);
}

.pad-3{
     background-image: linear-gradient(90deg, #1A0223,#DB26B6, #EE570F);
}

.pad-4{
    background-image: linear-gradient(to right,#06425c ,#410955);
}

.pad-5{
    background-image: linear-gradient(180deg, #1A0223,#DB26B6, #EE570F);
}
.pad-6{
    background-image: linear-gradient(to right,#e4bc0d ,#ec430f);
}


.pads > div:hover{
    cursor: pointer;
    box-shadow: 0 3px 12px white;
    border: 2px solid rgb(72, 241, 72);
    transform: scale(1.02);
}

.visual > div 
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;
} 

@keyframes jump
{
    0%{
        left: 20%;
        bottom: 0px;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        left: 80%;
        bottom: 0%;
    }
}


/* For Responsiveness */

@media (min-width: 1020px) and (max-width:1190px){

    .pads > div{
        margin: 0.5rem;
    }
    @keyframes jump
    {
        0%{
            left: 20%;
            bottom: 0px;
        }
        50%{
            bottom: 60%;
            left: 50%;
        }
        100%{
            left: 80%;
            bottom: 0%;
        }
    }
}

@media only screen and (max-width:600px){

    .header img{
        width: 400px;
        height: 250px;
        margin:30px auto; 
      }
      .pads > div{
        width: 150px;
        height: 150px;
        margin: 0.8rem;
    }
    .pads > div img{
        width: 100px;
        height: 100px;        
    }
    .keyboard-keys{
        font-size:2rem;
        top:-20px;
    }
        
    .header{
        display: flex;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:440px)
{
    .header img{
        width: 250px;
        height: 200px;
        margin: 30px auto;
      }
      .pads > div
      {
        width:100px;;
       height:100px;
        margin: 0.7rem;
    }
    .pads > div img
    {
        width: 80px;
        height: 80px;        
    }
    .keyboard-keys{
        font-size:1.5rem;
        top:-20px;
    }
    .header p
    {
        font-size: 1rem;
    }
}

/*****Footer****/
.footer{
    background-color: green;
    box-sizing: border-box;
    margin-top:6rem;
    width: 100%;
    padding:10px 30px;
  }
  
  .footer-content{
    display:flex;
    justify-content:center;
  }
  
  .footer-heading{
    color:white;
    margin-bottom:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .footer-left{
      text-align:center;
  }
  
  .footer-links i{
      width:50px;
      height:50px;
    font-size:30px;
    padding-top:10px;
  }
  .footer-links i:hover{
      background-color:white;
      border-radius:50px;
      background-color:white;
  }

  #footer-hr{
    width:100%;
    height:0px;
    margin:20px 0px;
  }
  .footer-copyright{
    text-align:center;
    color:white;
    margin-top:20px;
    font-size:18px;
  }
  
  
  /***************** Media Queries for footer *********************/
  
  @media (max-width: 600px) {
    .footer-content{ 
       display:block;
       text-align:center;
    }
}


  
