*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
}

.app
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

.header h1
{
    margin: 5px 0px 32px 0px;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.25rem;
    font-weight: 900;
    color: grey;
}

.header p
{
    text-align: center;
    font-size: 19px;
    color: grey;
}

img
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.pads
{
    background: black;
    width: 90vw;
    display: flex;
    flex-wrap:wrap;
}

.pads > div
{
    height: 230px;
    width: 100px;
    flex: 1;
    border-radius: 30px;
    margin-right: 10px;
}

.pad-1
{
    background-image: linear-gradient(to right,#20AAE5 ,#A722D6);
    border: solid green 5px;
    border-radius: 20px;
}
.pad-1:hover
{
    transform: scale(1.07);
    border-color: rgb(72, 241, 72);
    box-shadow: 0 5px 15px white;
}
.pad-2
{
    background-image: linear-gradient(180deg,#0fa5e6 ,#7b06f0);
    border: solid green 5px;
    border-radius: 20px;
}
.pad-2:hover
{
    transform: scale(1.07);
    border-color: rgb(72, 241, 72);
    box-shadow: 0 5px 15px white;
}
.pad-3
{
     background-image: linear-gradient(90deg, #1A0223,#DB26B6, #EE570F);
     border: solid green 5px;
    border-radius: 20px;
}
.pad-3:hover
{
    transform: scale(1.07);
    border-color: rgb(72, 241, 72);
    box-shadow: 0 5px 15px white;
}
.pad-4
{
    background-image: linear-gradient(to right,#06425c ,#410955);
    border: solid green 5px;
    border-radius: 20px;
}
.pad-4:hover
{
    transform: scale(1.07);
    border-color: rgb(72, 241, 72);
    box-shadow: 0 5px 15px white;
}
.pad-5{
    background-image: linear-gradient(180deg, #1A0223,#DB26B6, #EE570F);
    border: solid green 5px;
    border-radius: 20px;
}
.pad-5:hover
{
    transform: scale(1.07);
    border-color: rgb(72, 241, 72);
    box-shadow: 0 5px 15px white;
}
.pad-6{
    background-image: linear-gradient(to right,#e4bc0d ,#ec430f);
    border: solid green 5px;
    border-radius: 20px;
}
.pad-6:hover
{
    transform: scale(1.07);
    border-color: rgb(72, 241, 72);
    box-shadow: 0 5px 15px white;
}

.visual > div 
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

@keyframes jump
{
    0%{
        left: 20%;
        bottom: 0px;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        left: 80%;
        bottom: 0%;
    }
}


/* For Responsiveness */
@media (min-width: 1020px) and (max-width:1190px)
{
    .app
    {
        height: 80vh;
    }
    .pads > div
    {
        margin: 1.1rem;
    }
    @keyframes jump
    {
        0%{
            left: 20%;
            bottom: 0px;
        }
        50%{
            bottom: 60%;
            left: 50%;
        }
        100%{
            left: 80%;
            bottom: 0%;
        }
    }
}
@media only screen and (min-width: 601px) 
{
    .pads > div
    {
        width: 10rem;
        height: auto;
        margin: 0.8rem;
    }
    .pads > div img
    {
        width: 10rem;
        height: auto;        
    }

}
@media only screen and (max-width:600px)
{
    .header img
    {
        width: auto;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto; 
      }
      .pads > div
      {
        width: 7rem;
        height: auto;
        margin: 0.8rem;
    }
    .pads > div img
    {
        width: 7rem;
        height: auto;        
    }
}
@media only screen and (max-width:330px)
{
    .header img
    {
        width: auto;
        height: 12rem;
        display: block;
        margin-left: auto;
        margin-right: auto; 
      }
      .pads > div
      {
        width: 6rem;
        height: auto;
        margin: 0.7rem;
    }
    .pads > div img
    {
        width: 6rem;
        height: auto;        
    }
    .header p
    {
        font-size: 1rem;
    }
}
