@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  margin: 0px;
  font-family: "segoe ui";
  background: var(--bg-background);
  background-size: cover;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  display: grid;
  --bg-background: url("https://cdn.pixabay.com/photo/2016/09/27/23/03/guitar-1699501_960_720.jpg")
    no-repeat center center fixed;
  --bg-panel: #0f0e0e;
  --color-headings: #0077ff;
  --color-text: #333333;
}

html[data-theme="dark"] {
  --bg-background: url("https://cdn.pixabay.com/photo/2017/04/19/10/24/vinyl-2241789__480.png")
    no-repeat center center fixed;
  --bg-panel: #434343;
  --color-headings: #58ff36;
  --color-text: #b5b5b5;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: 1;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: rgb(255, 255, 255);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: rgb(12, 12, 12);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238, 234, 234, 0.205);
  background-color: #1d1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1d1c1c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 10px !important;
}

.active {
  background: rgb(5, 88, 23);
}
#myToggleBtn {
  margin-right: 10%;
}

.navbar-light .navbar-toggler {
  margin: 4px;
}

.navbar-brand {
  margin-right: 0px;
  margin-left: 2%;
}

#myToggleBtn {
  margin-right: 10%;
}

.navbar-toggler {
  padding: 6px !important;
  font-size: 1rem !important;
}

.navbar {
  background-color: #13a41e !important;
}

.collapse {
  background-color: #13a41e;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav {
  width: 100%;
  margin: 0 auto;
  max-height: fit-content;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #3c8119;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(5, 88, 23);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #3c8119;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgb(10, 102, 45);
  }
}

.nav-img {
  height: 50px;
  width: 70px;
  margin-top: 0px;
  display: inline-block;
}

#webTitle {
  display: inline-block;
  font-size: 25px;
  color: rgb(17, 17, 17);
  font-weight: bold;
}

.nav-link {
  color: white !important;
  font-size: 15px !important;
  padding: 10px 15px 10px 15px !important;
}

.current {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 20px;
  margin: 5px;
  font-weight: bold;
  border: solid 2px black;
}

.current:hover {
  transition: 0.3s !important;
  font-size: 20px !important;
  background-color: lightslategrey !important;
  border: solid 2px black !important;
  font-size: 18px !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url("https://cdn.pixabay.com/photo/2016/09/27/23/03/guitar-1699501_960_720.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.heading {
  text-align: center;
  margin: 110px 20% 0 20%;
  color: white;
  font-size: 55px;
  padding-top: 30px;
}

.card {
  width: 280px;
  height: 360px;
  background: linear-gradient(45deg, #ffcc00 0%, #ff0058 100%);
  margin: 40px 30px;
  padding: 5px;
  position: relative;
  transition: 0.5s;
}

.card:hover {
  transform: translatey(-20px);
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.button {
  color: green;
  background-color: #fff;
  border: none;
  padding: 6px 12px;
  margin: 8px 0;
}

.button:hover {
  background-color: rgb(4, 26, 10);
  color: #fff;
}

.card:nth-child(1)::before,
.card:nth-child(1) {
  background: linear-gradient(to right, #85e942, #064420);
}

.card:nth-child(2)::before,
.card:nth-child(2) {
  background: linear-gradient(to right, #85e942, #064420);
}

.card:nth-child(3)::before,
.card:nth-child(3) {
  background: linear-gradient(to right, #85e942, #064420);
}

.card:nth-child(4)::before,
.card:nth-child(4) {
  background: linear-gradient(to right, #85e942, #064420);
}

.card:nth-child(5)::before,
.card:nth-child(5) {
  background: linear-gradient(to right, #85e942, #064420);
}

.card span {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.card img {
  padding: 10px;
}

.content {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.05) 50%
  );
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
}

.content img {
  margin-top: -15px;
}

.content a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #fff;
  color: #121214;
  padding: 10px 5px;
  font-weight: 600;
}

/*Social Media*/

.centerdiv {
  font-size: larger;
  margin-top: 50px;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerdiv a {
  padding: 15px;
  height: 50px;
  width: 50px;
  font-size: 10px;
  background-color: white;
  border-radius: 50%;
  /*border: 5px solid #19911d;*/
  margin: 0 8px;
  text-align: center;
  cursor: pointer;
  /* float: left;*/
  transition: all 0.5s ease;
}

.centerdiv a i {
  /*margin-top: 5px;*/
  size: 20px;
  text-align: center;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.centerdiv a:hover i {
  transition: all 0.5s ease;
  transform: scale(1.8);
}

.fa-instagram {
  color: rgba(0, 128, 0);
  transition: 0.4s;
}

a:hover .fa-instagram {
  color: rgba(0, 128, 0);
  /* text-shadow: 0 0 15px #ee570f;*/
}

.fa-facebook-f {
  color: rgba(0, 128, 0);
  transition: 0.4s;
}

a:hover .fa-facebook-f {
  color: rgba(0, 128, 0);
  /*text-shadow: 0 0 15px #3b5998;*/
}

.fa-twitter {
  color: rgba(0, 128, 0);
  transition: 0.4s;
}

a:hover .fa-twitter {
  color: rgba(0, 128, 0);
  /*text-shadow: 0 0 15px #00aced;*/
}

.centerdiv a:hover {
  background-color: white;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #9eff02, 0 0 20px #9eff02, 0 0 30px #9eff02;
  }
  to {
    text-shadow: 0 0 10px #9eff02, 0 0 20px #9eff02, 0 1 30px #9eff02;
  }
}

footer {
  background: linear-gradient(90deg, green -60%, black 50%, green 160%);
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}

.content span {
  font-size: 6rem;
}

@media (max-width: 470px) {
  .content {
    font-size: 0.8rem;
    overflow: auto;
  }
  .content span {
    font-size: 3rem;
  }
  .btn {
    font-size: 15px;
    padding: 8px 16px;
  }
}

footer > h2,
p {
  margin: 7px;
}

footer h5 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

/*================ TOP ARROW======================*/

.to-top {
  background-color: black;
  position: fixed;
  bottom: 16px;
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top:hover {
  color: green;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: bottom;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}
.flip-card-front {
  position: absolute;
  margin-top: 116px;
  margin-left: -35px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Position the front and back side */
.flip-card-back {
  position: absolute;
  margin-top: 18px;
  margin-left: 34px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  align-items: center;
}

.flip-card-back {
  color: white;
  font-size: larger;
  font-weight: bold;
  margin-right: 50px;
  transform: rotateY(180deg);
}

@media (max-width: 360px){
 .content{
  display: block;
 }
 .heading{
  font-size: 20px;
 }
}
@media (max-width: 470px){
 .heading{
  font-size: 20px;
 }
 .content {
    overflow: hidden;
}
}
