* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(0, 0, 0);
    min-height: 100vh;
    overflow-y: hidden;
}

h1
{
    text-align: center;
    padding-top: 3vh;
    font-size: 40vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.app-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.player
{
    background-image: linear-gradient(to right, #191cad, #b12222);
    padding: 50px 50px;
    width: 400px;
    border-radius: 50px 0 60px 0;
    box-shadow: 10px 10px 6px rgb(172, 157, 157);
}

.player:hover
{
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 6px rgb(255, 255, 255);;
}


.song-img
{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.4s;
}

.song-img:after
{
    content: '';
    padding-top: 100%;
    display: block;
}

.song-img:before
{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 20px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.song-details
{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    border:4px solid rgb(0, 0, 2);
    transition:all 0.5s;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.637);
}

.song-details h2
{
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 128, 0);
    margin-bottom: 10px;
    margin-top: 10px;
}

.song-details h3
{
    font-size: 16px;
    font-weight: 600;
    color: rgb(52, 92, 0);
    margin-bottom: 15px;
}

.player-controls
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: green;
    color: #FFF;
    margin: 0 30px;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 6px 12px green;
    transition: 0.4s;
}

.player-controls .skip-btn
{
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    color:rgb(250, 250, 250);
}

.player-controls .play:hover
{
    box-shadow: 0px 8px 16px rgb(0, 255, 64);
}

.player-controls .skip-btn:hover
{
    box-shadow: 1px 1px 1.5px 1.5px rgb(255, 255, 255);
}

.next-up p
{
    color: rgb(139, 138, 138);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.next-up p span
{
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 660px)
{
    h1{
      display: none;
    }
    .app-wrapper
    {
        min-height: 70vh;
    }
    .player
    {
        margin-top: 6vh;
        margin-bottom: 0px;
        min-height: 90vh;
        border-radius: 0px;
        width: 100vw;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
    }
    .player-controls
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .song-details
    {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 23px;
    }
}
@media (min-width: 660px) and (max-width : 1000px)
{
    .app-wrapper
    {
        min-height: 70vh;
    }
    h1 {
      margin-bottom: 2px;
      font-size: 30px;
    }
    .player
    {
        margin-bottom: 0px;
        min-height: 80vh;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
    }
    .player-controls
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    .song-details
    {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 23px;
    }
}
