* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.player {
    background-color: white;
    margin: 25px 25px;
    padding: 50px 50px;
    width: 600px;
    border-radius: 16px;
    box-shadow: 10px 10px 6px rgb(42, 187, 6);
}

.song-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.4s;
}

.song-img:after {
    content: '';
    padding-top: 100%;
    display: block;
}

.song-img:before {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 20px solid rgb(75, 177, 8);
    border-radius: 50%;
}

.song-details {
    text-align: center;
    margin-bottom: 30px;
}

.song-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #313131;
    margin-bottom: 5px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: green;
    color: #FFF;
    margin: 0 30px;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 6px 12px green;
    transition: 0.4s;
}

.player-controls .skip-btn {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    color:black;
}

.player-controls .play:hover {
    box-shadow: 0px 8px 16px green;
}


.next-up p {
    color: #888;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 414px) {
    .player {
        min-height: 100vh;
        border-radius: 0px;
        padding: 75px 30px;
    }
}