html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238, 234, 234, 0.205);
  background-color: #1d1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1d1c1c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient( linear, 40% 0%, 75% 84%, from(#96a9b4), to(#4b4b5a), color-stop(0.6,#898b8f ));
}

body {
  text-align: center;
  background-image: url(images/drum_background.jpg);
  background-position: center;
  height:100px;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 black;

}

#title {
  margin-top: 90px;
}
  
  .current {
	background-color: rgba(0, 0, 0, 0.247);
	border-radius: 20px;
	margin: 5px;
	font-weight: bold;
	border: solid 2px black;
  }
  .current:hover {
	transition: 0.3s !important;
	font-size: 20px !important;
	background-color: lightslategrey !important;
	border: solid 2px black !important;
	font-size: 18px !important;
  }

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 4px solid black;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: black;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
