* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "segoe ui";
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0px !important;
}
.navbar-light .navbar-toggler {
  margin: 4px;
}
.active {
  border: 2px solid white;
}


.navbar-brand {
  margin-right: 0px;
}
.navbar-toggler {
  padding: 6px !important;
  font-size: 1rem !important;
}

.navbar {
  background-color: green !important;
}

.nav-img {
  height: 50px;
  width: 70px;
  margin-top: 0px;
  display: inline-block;
}

#webTitle {
  display: inline-block;
  font-size: 25px;
  color: rgb(17, 17, 17);
  font-weight: bold;
}

.nav-link {
  color: white !important;
  font-size: 18px !important;
  padding: 13px 20px 13px 20px !important;
}

.current {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 20px;
  margin: 5px;
  font-weight: bold;
  border: solid 2px black;
}
.current:hover {
  transition: 0.3s !important;
  font-size: 20px !important;
  background-color: lightslategrey !important;
  border: solid 2px black !important;
  font-size: 18px !important;
}
.center {
  text-align: center;
}

.red {
  color: rgb(241, 129, 129);
}
.contact-form {
  padding: 20px 10px;
  padding-bottom: 7px;
  background-color: green;
  border-radius: 7px;
  opacity: 0.6;
  width: 85vw;
  margin: 50px auto;
}

.button {
  color: green;
  background-color: #fff;
  border: none;
  padding: 6px 12px;
  margin: 8px 0;
}

.button:hover {
  background-color: rgb(4, 26, 10);
  color: #fff;
}

input,
textarea {
  width: 98%;
  border-radius: 1px;
  padding: 7px 11px;
  border: none;
}

input,
textarea {
  color: grey;
  font-size: 12px;
}

input,
textarea:focus {
  outline: none;
}

.label {
  margin: 10px 0;
}

header {
  height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2016/09/27/23/03/guitar-1699501_960_720.jpg")
    no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 40px;
}

footer {
  opacity: 0.9;
  background-color: green;
  text-align: center;
}

@media (max-width: 1074px) {
  input,
  textarea {
    width: 97%;
  }
}
@media (max-width: 788px) {
  input,
  textarea {
    width: 96%;
  }
}

@media (max-width: 470px) {
  footer > h2,
  p {
    margin: 7px;
  }
  footer h5 {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  footer {
    margin-top: -8px;
  }
  input,
  textarea {
    width: 92%;
  }
}

.to-top
{
    background-color: green;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top:hover{
  color: green;
}

.to-top.active
{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}